{% extends "base.html" %}
{% block title %}
Alumni Connect|About
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 30px; max-width: 900px;">
    <div>
        <h1 class="sub-title">Equity Group Holdings Company</h1>
        <p class="body-text">Equity Group Holdings Limited is a financial services holding company based in Kenya. It was founded in 1984 by James Mwangi as Equity Building Society, a small microfinance institution, and has since grown into one of the largest financial services providers in East Africa.

            Equity Group Holdings operates in six African countries: Kenya, Uganda, Tanzania, Rwanda, South Sudan, and the Democratic Republic of Congo. It offers a range of financial services including banking, insurance, investment banking, and asset management.
            
            In recent years, Equity Group Holdings has been recognized for its innovative approach to financial inclusion, particularly through its use of mobile technology to provide access to banking services to previously unbanked populations. The company has also been committed to social and environmental sustainability, with initiatives focused on education, health, and the environment.
            
            As of 2021, Equity Group Holdings had over 14.5 million customers and total assets of over Kshs 1.1 trillion (approximately USD 10 billion). It is listed on the Nairobi Securities Exchange and the Uganda Securities Exchange.
            <p>
    </div>

    <div>
        <h1 class="sub-title">Equity Wings To Fly Program</h1>
        <p class="body-text">
            Equity Wings to Fly Program is a scholarship program that was established in 2010 by Equity Group Holdings Limited in partnership with the Mastercard Foundation and other partners. The program aims to provide comprehensive secondary school scholarships and leadership training to academically gifted but financially challenged students in Kenya.

            The program targets bright and needy students who have scored at least 350 marks in their Kenya Certificate of Primary Education (KCPE) exams. The scholarship covers tuition fees, books, uniforms, and boarding facilities for the entire four-year secondary school education. The program also provides mentorship, leadership training, and career guidance to the beneficiaries.

            Since its inception, the program has awarded scholarships to over 20,000 students, with a goal of supporting 10,000 students every year. The program has also achieved a high success rate, with over 90% of its graduates joining universities, colleges, or other tertiary institutions.

            The Equity Wings to Fly program has been recognized as a leading initiative in education and social impact, winning several awards, including the East Africa Philanthropy Award and the FT/IFC Transformational Business Awards. It has also contributed to Equity Group Holdings' reputation as a socially responsible company that is committed to providing access to education and financial services to underserved communities.

           
        <p>
    </div>

    <div>
        <h1 class="sub-title">Equity Leadership Program</h1>
        <p class="body-text text-center">
            The Equity Leadership Program is a leadership development initiative offered by Equity Group Holdings Limited, one of the largest financial services providers in East Africa. The program is designed to develop leadership skills and capabilities among young professionals in the financial sector and other industries.

            The program targets young professionals who have demonstrated exceptional leadership potential and a commitment to excellence. The program is open to candidates from all nationalities and backgrounds, and participants are selected through a competitive application and interview process.

            The program is a one-year course that combines both classroom and experiential learning. The curriculum covers topics such as leadership theory, organizational behavior, strategic planning, and financial management. Participants also engage in mentorship, coaching, and networking opportunities with industry leaders and experts.

            The program aims to develop a new generation of leaders who are equipped with the skills, knowledge, and values necessary to drive innovation, growth, and sustainability in their organizations and communities. The program has a strong emphasis on social responsibility and ethical leadership, reflecting Equity Group Holdings' commitment to creating positive social and environmental impact.

            Since its inception, the Equity Leadership Program has produced over 300 graduates, many of whom have gone on to assume leadership positions in the financial sector, government, and other industries. The program has been recognized for its impact and innovation, winning several awards, including the Best Leadership Development Program at the HR Summit Awards.
        <p>
    </div>

</div>


{% endblock %}