{% extends "base.html" %}
{% block title %}
Equity Alumni Connect|home
{% endblock %}

{% block content %}
  
<div class="landing">
    <div class="container row">
        <div class="col-lg-6 col-sm-12">
            <h1 class="sub-title">Welcome to Equity Alumni Connect</h1>
            <p class="body-text mt-5 mb-5">We are so excited to have you join our online community of alumni from the Equity Leadership Program. This website is a platform for you to stay connected with the program, its alumni, and your fellow classmates.</p>
            {% if user.is_authenticated %}    
            <div class="d-flex flex-row landing-buttons d-none">
                <div class="signup">
                    <p>Don't have an account?</p>
                    <a href="#">
                    <button class="btn btn-primary">SignUp</button>
                    </a>
                </div>
                <div class="login">
                    <p>Already have an account?</p>
                    <a href="#">
                    <button class="btn btn-primary">Login</button>
                    </a>
                </div>
            </div>
            {% else %}
            <div class="d-flex flex-row landing-buttons">
                <div class="signup mr-2">
                    <p>Don't have an account?</p>
                    <a href="{{url_for('auth.signup')}}">
                    <button class="btn btn-primary">SignUp</button>
                    </a>
                </div>
                <div class="login ml-2">
                    <p>Already have an account?</p>
                    <a href="{{url_for('auth.login')}}">
                    <button class="btn btn-primary">Login</button>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>  
        <div class="col-lg-6 col-sm-12">
            <img class="homepage-image" src="{{url_for('static', filename="images/homepage.jpg")}}" alt="homepage image">
        </div>   
    </div>
</div>
  
    <!-- ============= Get engaged section ============= -->
    <style>
        .get-engaged-card {
            box-shadow: 0 0 10px black; 
            border-radius: 15px;
            padding: 20px;
            margin-top: 30px;
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .get-engaged-card p {
            font-size: 1.2rem
        }
    </style>

<section class="container align-center">
    <h1 class="mt-5 mb-5 text-center sub-title">Get Engaged</h1>

    <div class="row d-flex flex-row flex-wrap get-engaged-card">
        <div class="col-lg-6 col-sm-12 order-lg-1 order-sm-1">
            <h2 class="text-left sub-title">Become Year Group Leader</h2>
            <p class="body-text">Help us to reach out to fellow Alumni by becoming Year Group Ambassador</p>
        </div>
        <div class="col-lg-6 col-sm-12 order-lg-2 order-sm-2">
            <img class="img-fluid homepage-png" src="{{url_for('static', filename='images/leader_cropped.png')}}" alt="leader illustration">
        </div>
    </div>
    
    <div class="row d-flex flex-row flex-wrap get-engaged-card">
        <div class="col-lg-6 order-lg-1 order-sm-2">
            <img class="img-fluid homepage-png" src="{{url_for('static', filename='images/spread_word.png')}}" alt="leader illustration">
        </div>
        <div class="col-lg-6">
            <h2  class="sub-title">Spread The Word</h2>
            <p>Share this platform with all your fellow Scholars and Alumni to enable then to join</p>
        </div>
    </div>
      
    <div class="row d-flex flex-row flex-wrap get-engaged-card">
        <div class="col-lg-6">
            <img class="img-fluid homepage-png" src="{{url_for('static', filename='images/testimonial_1.png')}}" alt="feedback illustration">
        </div>
        <div class="col-lg-6 col-sm-12 order-lg-1 order-sm-1">
            <h2  class="sub-title">Write Testimonial</h2>
            <p>Share your experience as a Equity Leadership Partner or Wings to Fly beneficiary. Make it known to the world.</p>
        </div>
        
    </div>
      
    <div class=" row d-flex flex-row flex-wrap flex-row-reverse get-engaged-card">
        <div class="col-lg-6">
            <img class="img-fluid homepage-png" src="{{url_for('static', filename='images/career_growth.png')}}" alt="career growth illustration">
        </div>
        <div class="col-lg-6">
            <h2  class="sub-title">Share Career Opportunities</h2>
            <p>Is your organization hiring new Talent? Share the career opportunity with the huge talent pool among the Alumni and Scholars.</p>
        </div>
        
    </div>
      
    <div class="row d-flex flex-row flex-wrap mb-5 get-engaged-card">
        <div class="col-lg-6">
            <h2 class="sub-title">Share Your Story</h2>
            <p>Is it your first job? Your Entrepreneurial Journey?The other Alumni would love to hear from you. Tell it and inspire the next disruptor among the Scholars and Alumni</p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid homepage-png" src="{{url_for('static', filename='images/share_story.png')}}" alt="share story illustration">
        </div>
    </div>
    
</div>

</section>

<!-- ==========Testimonial section -->
<section id="testimonial" cklass="mt-4">
<div class='container'>
    <h1  class="sub-title">Testimonies from our Beneficiaries</h1>
    <div class="testimonial-container d-flex flex-row">
        <div class="testimonial flex-column">
            <div>
                <img src="{{url_for('static', filename='images/testimonial-1.jpeg')}}" alt="Testimonial 3">
            </div>
            <div>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed quam eget dolor tristique tristique eu sit amet sem."</p>
            <h3>John Doe</h3>
            <p>CEO, Company Name</p>
            </div>
        </div>
        <div class="testimonial flex-column">
            <div>
                <img src="{{url_for('static', filename='images/testimonial-2.png')}}" alt="Testimonial 3">
            </div>
            <div>
                <p>"Vivamus eu elit ipsum. Nullam et libero euismod, rutrum lectus in, dignissim velit. Curabitur eget semper sapien. "</p>
                <h3>Jane Doe</h3>
                <p>Marketing Manager, Company Name</p>
            </div>
        </div>
        <div class="testimonial flex-column ">
            <div>
                <img src="{{url_for('static', filename='images/testimonial-3.jpeg')}}" alt="Testimonial 3">
            </div>
            <div>
                <p>"Etiam fermentum neque sit amet erat tincidunt, vel eleifend urna accumsan. Phasellus sodales augue at mi venenatis, eget gravida sapien ullamcorper."</p>
                <h3>David Smith</h3>
                <p>IT Director, Company Name</p>
            </div>
        </div>
    </div>
</div>
</section>
<!-- =============Events section ============ -->
<section class="container" id="events">
    <h1 class="text-left sub-title">Events</h1>
    <div class="d-flex flex-row flex-wrap">
        <div class="d-flex flex-column col-lg-4 col-sm-12 event-card">
            <div class="col-lg-12 col-sm-12">
                <img class="img-fluid w-100" src="{{url_for('static', filename='images/event-1.jpg')}}" alt="event-one-image">
            </div>
            <div>
                <h3>Event One Name</h3>
                <p>Date: 20/03/2025</p>
                <a href="#">View event</a>
            </div>
        </div>
        <div class="d-flex flex-column col-lg-4 col-sm-12 event-card">
            <div class="col-lg-12 col-sm-12">
                <img class="img-fluid w-100" src="{{url_for('static', filename='images/event-2.jpg')}}" alt="event-one-image">
            </div>
            <div>
                <h3>Event Two Name</h3>
                <p>Date: 20/03/2025</p>
                <a href="#">View event</a>
            </div>
        </div>
        <div class="d-flex flex-column col-lg-4 col-sm-12 event-card">
            <div class="col-lg-12 col-sm-12">
                <img class="img-fluid w-100" src="{{url_for('static', filename='images/event-3.jpg')}}" alt="event-one-image">
            </div>
            <div>
                <h3>Event Three Name</h3>
                <p>Date: 20/03/2025</p>
                <a href="#">View event</a>
            </div>
        </div>
    </div>
    <button>
        <a href="#"> View All</a>
    </button>
</section>

<!-- ============Photos section ========== -->
<section class="container" id="photos">
    <h1 class="text-left sub-title">Photos</h1>
    <div class="d-flex flex-row flex-wrap ">
        <div class="col-lg-6 col-sm-12 photo-card"> 
            <img class="img-fluid" src="{{url_for('static', filename='images/event-1.jpg')}}" alt="">
        </div>
        <div class="col-lg-6 col-sm-12 photo-card"> 
            <img class="img-fluid" src="{{url_for('static', filename='images/event-1.jpg')}}" alt="">
        </div>
        <div class="col-lg-4 col-sm-12 photo-card"> 
            <img class="img-fluid" src="{{url_for('static', filename='images/event-1.jpg')}}" alt="">
        </div>
        <div class="col-lg-4 col-sm-12 photo-card"> 
            <img class="img-fluid" src="{{url_for('static', filename='images/event-1.jpg')}}" alt="">
        </div>
        <div class="col-lg-4 col-sm-12 photo-card"> 
            <img class="img-fluid" src="{{url_for('static', filename='images/event-1.jpg')}}" alt="">
        </div>       
    </div>
    <button >
        <a href="#">More Photos</a>
    </button>
</section>
<!-- ========= Contacts Section ============ -->
<section class="container" id="contact">
    <h1 class="sub-title">Talk to us</h1>
    <div class="d-flex flex-column">
        <a href="">
            <i class="fas fa-phone"></i>
            +254 763 000 00
        </a>
        <a href="">
            <i class="fas fa-envelope"></i>
            EquityLeadersProgram@equitygroupfoundation.com
        </a>
        <a href="">
            <i class="fas fa-globe"></i>
            www.equityfroupfoundation.com
        </a>
    </div>
    <div class="d-flex flex-row mx-2 mt-">
        <a href="" class="mx-2">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="" class="mx-2">
            <i class="fab fa-telegram"></i>
        </a>
        <a href="" class="mx-2">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="mx-2">
            <i class="fab fa-github"></i>
        </a>
        <a href="" class="mx-2">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="" class="mx-2">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
</section>




{# <h3 align="center">My Notes</h3>
<hr>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes%}
    <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close btn" onClick="deleteNote({{note.id}})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    
    {% endfor %}
</ul>
<form method="POST">
    <br>
    <br>
    <textarea name="note" id="note" class="form-control"></textarea>
    <hr>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form> #}

{% endblock %}