@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --background-theme: #F4E9E8;
    --call-action-color: #A32A29;
    --title-color: #231F59;
    --body-text-color: #231F20; 
    --body-text-font-size: 1.2rem;
    --title-font-size: 64px;
    --subtitle-font-size: 48px;
    --subtitle-font-size: 48px;
    --titles-font-style: 'Outfit', sans-serif

}
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    display:none;
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: rgb(163, 42, 41, 0.13);

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #492c2c;

  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
p {
    text-align: justify;
    text-justify: inter-word;
  }
/* Sign Up/ Login Forms */
.signup-form {
    background-color: rgb(137, 39, 27, 0.09);
    padding:20px;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5) ;
    color: #231F20;
    max-width: 600px;
}
/*  NAVBAR STYLES */
/* Change color of all <a> elements to #231F20 */

.navbar {
    background-color: #D3AAA5;
    font-family: 'Outfit', Roboto system-ui
}
.navbar .container {
    align-items: center;
}
.navbar .navbar-nav {
    display: flex;
    justify-content: space-around !important;
}

.navbar .navbar-nav .nav-link {
    color: #231F20;
    font-weight: bold;
}

.navbar .navbar-nav .nav-link[id="signup"],
.navbar .navbar-nav .nav-link[id="login"],
.navbar .navbar-nav .nav-link[id="logout"] {
    background-color: #A32A29;
    color: #E8F2F4;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    max-width: 100px
}

.logo {
    width: 60px ;
    height: auto;
}
#logo-image {
    max-width: 100%;
    height: auto
}
/* Landing section */
.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  

  
  .landing-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
  }
  
  .signup,
  .login {
    text-align: center;
  }
  
  .signup p,
  .login p {
    margin: 0;
  }
  
  .btn {
    background-color: #A32A29;
    color: white;
  }
  
  .btn:hover {
    background-color: #751e1d;
  }  

.homepage-image{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}
.homepage-png {
    width: 80%;
    height: auto;
}



/* BODY STYLES */

body {
    background-color: var(--background-theme);
}

.sub-title {
    color: var(--title-color);
    font-family: var(--titles-font-style);
}
.body-text {
    color: var(--body-text-color) ;
    font-size: var(--body-text-font-size);

}

.profile-icon, .profile-icon img {
    width: 30px;
    height: 30px
}

.form {
    /* display: flex;
    flex-direction: column; */
    margin-top: 30px;
}
.form input, .form label {
    margin-top: 10px;
}

#footer {
    min-height: 200px;
    margin-top: 30px;
    padding-top: 20px;
}
footer {
    width: 100%;
    background-color: #231F20;
    color: #fff;
    /* position: fixed; */
    bottom: 0;
    
}

/* Testimonial section */

#testimonial {
    background-color: rgba(219, 138, 72, 0.71);
    border-top: 10px solid rgba(219, 138, 72, 0.4);
    border-bottom: 10px solid rgba(219, 138, 72, 0.4);
    backdrop-filter: blur(10px);
    padding-top: 20px;
    padding-bottom: 40px;
  }
.testimonial-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.testimonial {
flex: 0 0 400px;
margin-right: 30px;
margin-top: 20px;
margin-bottom: 30px;
padding: 20px;
background-color: var(--background-theme);
text-align: center;
border-radius: 15px;
}

.testimonial img {
width: 150px;
height: 150px;
border: 5px solid #A32A29;
border-radius: 50%;
margin-bottom: 20px;
}

.testimonial p {
font-size: 16px;
line-height: 1.5;
margin-bottom: 20px;
}

.testimonial h3 {
font-size: 24px;
margin-bottom: 10px;
}

.testimonial p:last-child {
margin-bottom: 0;
}
/* Events */

.event-card {
    padding: 20px;
}

.event-card img {
    max-height: 300px;
    object-fit: cover;
}
.event-card a {
    text-decoration: none;
    font-weight: bold;
}
#events button:last-child {
    border-radius: 10px;
    border: 2px solid #A32A29;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px; 
}
#events button:last-child a {
    text-decoration: none;
    color: #A32A29;
    font-weight: bold;
}
/* photos section */
#photos {
    border: 5px solid #751e1d;
    margin:30px;
    margin-bottom: 40px;
}
#photos button:last-child {
    margin:20px;
    border-radius: 10px;
    border: 2px solid #A32A29;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px; 
}
#photos button:last-child a {
    text-decoration: none;
    color: #A32A29;
    font-weight: bold;
}
.photo-card {
    border:1px solid #A32A29;
    border-radius: 8px;
    padding: 10px;
}
.photo-card img{
    border-radius: 8px;
}
/* Contact */
#contact {
    background-color: rgb(163, 42, 41, 0.13);
    padding: 30px;
    border-radius: 15px;
}
#contact a {
    text-decoration: none;
    color: var(--body-text-color);
    margin-top: 10px
}